.prices {
    width: 80%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.prices label {
    color: #2c2c2c;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 30px;
}
